<!-- HEADER PARTIAL -->
<nav>
    <table>
        <tr>
            <td>
                <a href="/posts">Go to Index</a>
            </td>
            <td>
                <a href="/posts/new">Create new post</a>
            </td>
        </tr>
    </table>
    <h2>
        <%= pageTitle %>
    </h2>

</nav>