<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    
    <form action="/posts" method="POST">
            <label for="title">Post Title</label>
            <input type="text" name="title" id="title" placeholder="Post Title"/>
        <br>
            <label for="user">User (TO BE REPLACED)</label>
            <input type="text" name="user" id="title" placeholder="User (REPLACE)"/>
        <br>
            <label for="body">Body</label>
            <input type="text" name="body" id="body" placeholder="Text Body"/>
        <br>
            <label for="img">Image Source</label>
            <input type="img" name="img" id="img" placeholder="Image URL"/>
        <br>
            <input type="submit" value="Create Post">
    </form>
</body>
<footer>
    <%- include('./partials/footer.ejs') %>
</footer>
</html>