<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>REGISTRATION</title>
    <!-- STYLES -->
    <link rel="stylesheet" href="/new-user-styles.css">
  </head>
  <body>
    <!-- ============= CONTAINER ============== -->
    <div class="container">
      <div class="sidebar"></div>
      <div class="registration">
        <h1>User Login</h1>
        <form action="/sessions/" method="POST">
            <p>ACCOUNT</p>
              <label for="username">USERNAME</label>
              <input type="text" id="username" name="username"/>
              <label for="password">PASSWORD</label>
              <input type="password" id="password" name="password"/>
          <input type="submit" value="Sign In" class="btn btn-primary" style="color:grey">
        </form>
      </div>
    </div>
  </body>
</html>

