<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>REGISTRATION</title>
    <!-- STYLES -->
    <link rel="stylesheet" href="/new-user-styles.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,400,500" rel="stylesheet">
  </head>
  <body>
    <!-- ============= CONTAINER ============== -->
    <div class="container">
      <div class="sidebar"></div>
      <div class="registration">
        <h1>REGISTRATION</h1>
        <form action="/users/" method="POST">
            <p>ACCOUNT INFORMATION</p>
              <label for="username">USERNAME</label>
              <input type="text" id="username" name="username"/>
              <label for="password">PASSWORD</label>
              <input type="password" id="password" name="password"/>
          <input type="submit" value="Create User">
        </form>
      </div>
    </div>
  </body>
</html>

